footer {
    background-color: aliceblue;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: medium;
}

footer p, li{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}

footer li {
    display: inline-block;
    margin: 0 10px;
}

footer li a {
    color: black;
    text-decoration: none;
}