*{
    transition: all .2s linear;
}

nav {
    background-color: transparent;
    height: 65px;
    margin-bottom: 30px;
    justify-content: center;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: cursive;
    font-size: medium;
}

nav li img {
    height: 60px;
    width: 60px;
}
.logo:hover{
    background-color: transparent;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: black;
    background-color: aliceblue;
    padding: 8px 20px;
    border-radius: 50%;
}

nav ul li a.active {
    background-color: #F07C39;
    padding: 8px 15px;
    color: black;
    border-radius: 20%;

}

nav ul li a.active:hover {
    background-color: aliceblue;
    padding: 8px 15px;
    color: black;
    border-radius: 20%;

}